p, a, h2, li {
  font-family: Avenir, sans-serif !important;
  text-decoration: none;
  font-weight: 200;
}

h1 {
  font-family: GT Super Ds Trial !important;
  font-size: 40px;
}

h4 {
  font-family: GT Super Ds Trial !important;
  font-size: 30px;
}

.quote {
  max-width: 80%;
  margin: 31px 0;
}

body {
  font-family: GT Super Ds Trial;
  margin: 0;
 }

.nav-tabs {
  padding: 25px;
  box-shadow: 0 0 30px rgb(0 0 0 / 14%);
}

.test-container {
 background: linear-gradient(263.16deg, #1e374a -40.03%, rgb(6 70 112 / 0.98) 123.8%);
}

.nav-link {
  border: 0 !important;;
  opacity: .4;
  color: #062841;
  font-size: 20px;
}

hr {
  margin-top: 20px !important;
  border: solid 1px #062841 !important;
  opacity: .4;
  width: 50px;
  margin: 0;
}

.nav-link.active {
  color: #062841;
  font-weight: bold;
  background-color: #fff;
  opacity: 1;
  box-shadow: 0px 7px 0px #ffc107;
}

.footer {
  padding: 100px 0;
}

.test-container {
  position: relative;
  border-radius: 5px;
}

.nav {
  justify-content: center;
}

.test-container .banner-controls {
  right: 0 !important;
}

.client {
  margin: 40px;
}

.client .intro {
  display: flex;
  align-items: center
}

.tabs-section {
  padding: 100px;
}

.tabs-section h1 {
  color: #062841;
}

.intro p {
  margin: 0;
}

.intro img {
  margin-right: 10px;
  border-radius: 50px;
}

 .banner {
  position: relative;
 }

 .decor {
  position: absolute;
 }

 .decor.left {
  left: -250px;
  top: -250px;
 }

.decor.right {
  right: -250px;
  bottom: -250px;
 }

 .yellow {
  color: #F7A814;
 }

 .blue {
   color: #062841;
 }

 .dark-blue {
  color: #062841;
 }

 .bg-blue {
   background-color: #062841;
 }

 .container-tabs {
  display: flex;
 }

.main-button {
  padding: 8px 50px;
  background: #F7A814;
  color: white;
  margin-right: 25px;
  border-radius: 50px;
}

.p-button {
  border-radius: 50px;
  border: solid 1px #F7A814;
  padding: 8px 50px;
}

.carousel-item {
  background-blend-mode: screen;
  height: 70vh;
  background-position: bottom;
  background-size: cover;
}

.carousel-item > * {
  height: 100%;
}

.header {
  position: relative;
  height: 70vh;
  width: 100%;
  background-size: cover;
  background-position: bottom;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  background-blend-mode: screen;
  color: white;
}

.banner-controls {
  display: flex;
  position: absolute;
  right: 86px;
  bottom: 0;
}

.number p {
  margin: 0;
}


.banner-controls > * {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-wrapper {
      height: 30vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.banner-controls .number {
  text-align: center;
  display: flex;
  align-items: center;
}

.banner-controls .left  {
  background: #062841;
  color: white;
}

.left a {
  color: white;
}

.right a {
  color: #062841;
}

.banner-controls .right {
  background: white;
  color: #062841;
}

.banner h2 {
  font-size: 1.5rem;
  line-height: 44px;
}

.content {
  margin: 100px 0;
  max-width: 50%;
}

.last {
  margin-right: 20px !important;
}

.footer {
  color: #0f4264;
  position: relative;
  overflow: hidden;
}

.sub-foot {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  padding: 20px;
  text-align: center;
}

.g-texture {
  position: absolute;
  right: -30px;
  top: 0;
  height: 450px;
  opacity: .1;
}

.sub-foot p {
  margin: 0;
}

.footer ul {
  list-style: none;
  padding: 0
}

.footer li {
  font-size: 14px;
}

.footer i, .footer img {
  margin-right: 9px;
  font-size: 23px;
}

.c-tab {
  height: 60px;
  overflow: hidden;
  opacity: .4;
  margin: 30px 0;
}

.c-tab.active {
  height: 100%;
  overflow: hidden;
  opacity: 1;
}

ul.links {
  justify-content: flex-end;
  display: flex;
  margin: 0;
  padding: 22px;
}

.container-tabs i {
    color: #F7A814;
}

.links > li {
  list-style: none;
  margin: 0 12px;
}

.top li img {
  margin-right: 15px;
}


.top, .top a {
  color: white;
  font-size: 14px;
}

.bt img {
  margin: 0 30px;
}

.test-container {
  padding: 30px;
}

.bt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

.bt li {
  opacity: .4;
}

.carousel {
  width: 100%;
}

.testimonial {
  color: white;
  padding: 60px 0;
}

.container-tabs {
  display: flex;
}

.bt li.active {
  opacity: 1;
}

.vertical-tabs {
  color: white;
}

.vertical-tabs img, .vertical-tabs .right-tabs {
   width: 40%;
   border-radius: 5px;
   object-fit: cover;
}

.right-tabs {
  padding: 40px;
  height: 100%;
}

.vertical-tabs h4 {
  opacity: .4;
}

.vertical-tabs .active > h4 {
  opacity: 1;
}



.testimonial, .vertical-tabs {
  position: relative;
  overflow: hidden;
}
